{% extends 'base.html' %}

{% block content %}
<div class="min-h-[75vh] flex flex-col justify-center items-center text-center p-4">
    <div class="glass p-8 rounded-2xl max-w-sm w-full backdrop-blur-md">
        <div class="w-12 h-12 border-4 border-[#1DB954] border-t-transparent rounded-full animate-spin mx-auto mb-4"></div>
        
        <h2 class="text-xl font-bold text-primary mb-2">Password Changed!</h2>
        <p class="text-secondary text-sm mb-4">Redirecting you to the login page...</p>
    </div>
</div>

<script>
    setTimeout(function() {
        // Palitan mo ang URL sa loob ng quotes kung ano ang tamang login URL mo (e.g., '/accounts/login/' o '/login/')
        window.location.href = "{% url 'song_list' %}"; 
    }, 2000); // Maghihintay ng 2 segundo bago mag-redirect para makita nilang success
</script>
{% endblock %}